{erl_opts, [
    debug_info
]}.

{project_plugins, [
    {erlfmt, "1.6.0"},
    {rebar3_lint, "3.2.6"},
    {rebar3_ex_doc, "0.2.25"}
]}.

{deps, [
    {recon, "2.5.6"},
    {gun, "2.1.0"},
    {jsx, "3.1.0"}
]}.

{relx, [
    {include_erts, true},
    {extended_start_script, true},
    {release, {esupa, "0.4.2"}, [esupa]},
    {dev_mode, true},

    {overlay, [
        {mkdir, "releases/{{release_version}}/config"},
        {template, "config/sys.config", "releases/{{release_version}}/sys.config"}
    ]},
    {vm_args, "config/vm.args"}
]}.

{profiles, [
    {local, [
        {relx, [
            {include_erts, false},
            {overlay_vars, "config/local/vars.config"}
        ]}
    ]},
    {test, [
        {relx, [
            {include_erts, false},
            {overlay_vars, "config/test/vars.config"}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{shell, [
    {apps, [esupa]}
]}.

%% code checks
{ex_doc, [
    {extras, [
        {"README.md", #{title => "Basic Supabase http/websocket tool"}}
    ]},
    {main, <<"readme">>},
    {homepage_url, "TBD"},
    {source_url, "TBD/blob/master/%{path}#L%{line}"}
]}.

{cover_enabled, true}.

{xref_warnings, true}.
{xref_extra_paths, []}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
% {xref_ignores, [Module, {Module, Fun}, {Module, Fun, Arity}]}.

{dialyzer, [
    % From "Warning options" section of https://www.erlang.org/doc/man/dialyzer.html
    {warnings, [
        % Turn on
        error_handling,
        underspecs,
        unknown,
        unmatched_returns

        % Turn off
    ]}
]}.

{erlfmt, [
    write,
    {files, ["{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.

{elvis, [
    #{
        dirs => ["src"],
        filter => "*.erl",
        rules => [
            {
                elvis_style,
                variable_naming_convention,
                #{ignore => []}
            },
            {
                elvis_style,
                atom_naming_convention,
                #{ignore => []}
            },
            {elvis_style, dont_repeat_yourself, #{min_complexity => 12}},
            {elvis_text_style, line_length, #{limit => 101}}
        ],
        ruleset => erl_files,
        ignore => []
    }
]}.
