{esupa_env, local}.
{esupa_logger_level, debug}.
{http_handler_pool_size_var, 10}.
{base_url_var, ".supabase.co"}.
{project_url_var, "<PROJECT_URL>"}.
{rest_url_var, "/rest/v1/"}.
{key_var, "<KEY>"}.
{ws_url_var, "/realtime/v1/websocket"}.
{max_ws_handler_pool_size_var, 10}.
{keep_alive_timeout_var, 100}.
{max_pipeline_length_var, 100}.
{max_sessions_var, 100}.
